In [11]:
a=[1,3,2]

In [12]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
a.sort()

In [15]:
a

[1, 2, 3]

### list comprehension
    creating new sub list

In [19]:
list=[]
for x in range(1,101):
    if(x%3==0):
        list.append(x)
print(list)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## [item loop condition]

In [21]:
[1 for each in range(10) ]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [22]:
[each for each in range(10) ]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[each*each for each in range(1,11) ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
[each for each in range(10) if each%2==0]

[0, 2, 4, 6, 8]

In [30]:
student=[['sai',70],['ram',30],['lakshmi',60]]
[each for each in student if each[-1]>=60]

[['sai', 70], ['lakshmi', 60]]

## fill the data percentage >=60 and backlogs below 2

In [32]:
student=[['sai',70,1],['ram',30,2],['lakshmi',60,3]]
[each for each in student if each[-2]>=60 and each[-1]<=1 ]

[['sai', 70, 1]]

In [33]:
[each+item for each in range(3) for item in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

## x^2+y^2=z^2

In [49]:
[(i,j,k) for i in range(1,30) for j in range(i,30) for k in range(j,30) if((i**2+j**2)==(k**2))]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [69]:
[str(i)+str(j) for i in range(10) for j in range(10)]

['00',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']

In [70]:
a=['A','B']
b=[1,2]
[i+str(j) for i in a for j in b]

['A1', 'A2', 'B1', 'B2']

# create dictionary for squares of 1 to 10 numbers
    squares={1:1,2:4,3:9}

In [72]:
s={}
for each in range(1,11):
    s[each]=each*each
print(s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
{each:each*each for each in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [75]:
{each:each*each for each in range(1,11) if each%2==0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [76]:
{each:each*each if each%2==0 else each**3 for each in range(1,11)}

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [102]:
names=['sai','ramu']
grades=['A','B']
students={}
for index in range(len(names)):
    name=names[index]
    grade=grades[index]
    students[name]=grade
print(students)

{'sai': 'A', 'ramu': 'B'}

## zip

In [103]:
names=['sai','ramu']
grades=['A','B']
for name,grade in zip(names,grades):
    print(name,grade)

sai A
ramu B

In [106]:
names=['sai','ramu']
grades=['A','B']
{ name:grade for name,grade in zip(names,grades)}

{'sai': 'A', 'ramu': 'B'}

## sort the student based on english marks

In [116]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
removeIndex=2
for student in students:
    student.insert(0,student.pop(removeIndex))
students.sort()
for student in students:
    student.insert(removeIndex,student.pop(0))
print(students)

[['lakshmi', 100, 30], ['sai', 30, 40], ['ram', 50, 60]]

In [117]:
square=lambda x:x*x

In [118]:
square(3)

9

In [121]:
fun=lambda x,y:(x,y)

In [122]:
fun(10,11)

(10, 11)

In [127]:
students=[['sai',30,40],['lakshmi',100,30],['ram',50,60]]
students.sort(key=lambda x:x[2]+x[1])

In [128]:
students

[['sai', 30, 40], ['ram', 50, 60], ['lakshmi', 100, 30]]