In [1]:
import pandas as pd

In [5]:
animals=['tiger','bear','mouse']
s=pd.Series(animals)
s

0    tiger
1     bear
2    mouse
dtype: object

In [6]:
s.name='Animals'

In [7]:
s.name

'Animals'

In [8]:
s.name

'Animals'

In [4]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
s

0    tiger
1     bear
2    mouse
Name: Animals, dtype: object

In [11]:
numbers =[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [12]:
animals=['tiger','bear',None]
pd.Series(animals)

0    tiger
1     bear
2     None
dtype: object

In [13]:
numbers =[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [14]:
a=2
b=2
a==b

True

In [15]:
import numpy as np

In [18]:
np.nan==None

False

In [19]:
np.nan==np.nan

False

In [20]:
None==None

True

In [21]:
np.isnan(np.nan)

True

In [22]:
sports={'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'}
s=pd.Series(sports)
s

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
dtype: object

In [23]:
s.index

Index(['archery', 'golf', 'sumo', 'taekwondo'], dtype='object')

In [24]:
s=pd.Series(['tiger','bear','mouse'],index=['india','america','canada'])
s

india      tiger
america     bear
canada     mouse
dtype: object

In [25]:
sports={'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'}
s=pd.Series(sports,index=['golf','sumo','hockey'])
s

golf      scaotland
sumo          japan
hockey          NaN
dtype: object

In [26]:
sports={'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'}
s=pd.Series(sports)
s

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
dtype: object

In [27]:
s.iloc[3]

'south korea'

In [28]:
s.iloc[1]

'scaotland'

In [29]:
s.loc['golf']

'scaotland'

In [30]:
s['golf']

'scaotland'

In [31]:
sports={99:'bhutan',100:'scaotland',101:'japan',102:'south korea'}
s=pd.Series(sports)
s

99          bhutan
100      scaotland
101          japan
102    south korea
dtype: object

In [32]:
s.iloc[0]

'bhutan'

In [34]:
s.loc[99]

'bhutan'

In [39]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [40]:
for each in s:
    print(each)

100.0
120.0
101.0
3.0

In [41]:
s1=0
for each in s:
    s1+=each
print(s1)

324.0

In [42]:
len(np.random.randint(0,1000,10000))

10000

In [43]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    304
1    486
2    268
3    254
4    620
dtype: int32

In [46]:
%%timeit -n 5
summary=0
for items in s:
    summary+=items

1.65 ms ± 246 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [47]:
%%timeit -n 10
summary=np.sum(s)

157 µs ± 77.8 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [48]:
s.head()

0    304
1    486
2    268
3    254
4    620
dtype: int32

In [50]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    308
1    490
2    272
3    258
4    624
dtype: int32

In [52]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    490
2    272
3    258
4    624
dtype: int32

In [58]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for lablel,value in s.iteritems():
    s.loc[lablel]=value+2

4.4 s ± 105 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [59]:
%%timeit -n1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

455 µs ± 192 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)