In [1]:
import pandas as pd

In [5]:
animals=['tiger','bear','mouse']
s=pd.Series(animals)
s

0    tiger
1     bear
2    mouse
dtype: object

In [6]:
s.name='Animals'

In [7]:
s.name

'Animals'

In [8]:
s.name

'Animals'

In [4]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
s

0    tiger
1     bear
2    mouse
Name: Animals, dtype: object

In [11]:
numbers =[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [12]:
animals=['tiger','bear',None]
pd.Series(animals)

0    tiger
1     bear
2     None
dtype: object

In [13]:
numbers =[1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [14]:
a=2
b=2
a==b

True

In [15]:
import numpy as np

In [18]:
np.nan==None

False

In [19]:
np.nan==np.nan

False

In [20]:
None==None

True

In [21]:
np.isnan(np.nan)

True

In [22]:
sports={'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'}
s=pd.Series(sports)
s

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
dtype: object

In [23]:
s.index

Index(['archery', 'golf', 'sumo', 'taekwondo'], dtype='object')

In [24]:
s=pd.Series(['tiger','bear','mouse'],index=['india','america','canada'])
s

india      tiger
america     bear
canada     mouse
dtype: object

In [25]:
sports={'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'}
s=pd.Series(sports,index=['golf','sumo','hockey'])
s

golf      scaotland
sumo          japan
hockey          NaN
dtype: object

In [26]:
sports={'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'}
s=pd.Series(sports)
s

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
dtype: object

In [27]:
s.iloc[3]

'south korea'

In [28]:
s.iloc[1]

'scaotland'

In [29]:
s.loc['golf']

'scaotland'

In [30]:
s['golf']

'scaotland'

In [31]:
sports={99:'bhutan',100:'scaotland',101:'japan',102:'south korea'}
s=pd.Series(sports)
s

99          bhutan
100      scaotland
101          japan
102    south korea
dtype: object

In [32]:
s.iloc[0]

'bhutan'

In [34]:
s.loc[99]

'bhutan'

In [39]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [40]:
for each in s:
    print(each)

100.0
120.0
101.0
3.0

In [41]:
s1=0
for each in s:
    s1+=each
print(s1)

324.0

In [42]:
len(np.random.randint(0,1000,10000))

10000

In [43]:
s=pd.Series(np.random.randint(0,1000,10000))
s.head()

0    304
1    486
2    268
3    254
4    620
dtype: int32

In [46]:
%%timeit -n 5
summary=0
for items in s:
    summary+=items

1.65 ms ± 246 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [47]:
%%timeit -n 10
summary=np.sum(s)

157 µs ± 77.8 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [48]:
s.head()

0    304
1    486
2    268
3    254
4    620
dtype: int32

In [50]:
for label,value in s.iteritems():
    s.set_value(label,value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    308
1    490
2    272
3    258
4    624
dtype: int32

In [52]:
s.set_value(0,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    900
1    490
2    272
3    258
4    624
dtype: int32

In [58]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for lablel,value in s.iteritems():
    s.loc[lablel]=value+2

4.4 s ± 105 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [59]:
%%timeit -n1
s=pd.Series(np.random.randint(0,1000,10000))
s+=2

455 µs ± 192 µs per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
original_sports = pd.Series({'archery':'bhutan','golf':'scaotland','sumo':'japan','taekwondo':'south korea'})
cricket_loving_countries=pd.Series(['australia','barbados','pakistan','england'],index=['cricket','cricket','cricket','cricket',])
all_countries=original_sports.append(cricket_loving_countries)

In [8]:
original_sports

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
dtype: object

In [9]:
cricket_loving_countries

cricket    australia
cricket     barbados
cricket     pakistan
cricket      england
dtype: object

In [10]:
all_countries

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
cricket        australia
cricket         barbados
cricket         pakistan
cricket          england
dtype: object

In [11]:
all_countries.loc['cricket']

cricket    australia
cricket     barbados
cricket     pakistan
cricket      england
dtype: object

In [12]:
all_countries[4]='Australia'

In [13]:
all_countries

archery           bhutan
golf           scaotland
sumo               japan
taekwondo    south korea
cricket        Australia
cricket         barbados
cricket         pakistan
cricket          england
dtype: object

# the DataFrame data structure

In [15]:
import pandas as pd
purchase_1=pd.Series({'name':'chris','item purchased':'dog food','cost':22.50})
purchase_2=pd.Series({'name':'kevyn','item purchased':'kitty litter','cost':2.50})
purchase_3=pd.Series({'name':'vinod','item purchased':'bird seed','cost':5.00})
df=pd.DataFrame([purchase_1,purchase_2,purchase_3],index=['store 1','store 1','store 2'])
df.head()

          name item purchased  cost
store 1  chris       dog food  22.5
store 1  kevyn   kitty litter   2.5
store 2  vinod      bird seed   5.0

In [19]:
df.loc['store 2']

name                  vinod
item purchased    bird seed
cost                      5
Name: store 2, dtype: object

In [20]:
df.loc['store 1']

          name item purchased  cost
store 1  chris       dog food  22.5
store 1  kevyn   kitty litter   2.5

In [23]:
df.loc['store 1','cost']

store 1    22.5
store 1     2.5
Name: cost, dtype: float64

In [24]:
df

          name item purchased  cost
store 1  chris       dog food  22.5
store 1  kevyn   kitty litter   2.5
store 2  vinod      bird seed   5.0

In [26]:
df.T

                 store 1       store 1    store 2
name               chris         kevyn      vinod
item purchased  dog food  kitty litter  bird seed
cost                22.5           2.5          5

In [27]:
df.T

                 store 1       store 1    store 2
name               chris         kevyn      vinod
item purchased  dog food  kitty litter  bird seed
cost                22.5           2.5          5

In [28]:
df

          name item purchased  cost
store 1  chris       dog food  22.5
store 1  kevyn   kitty litter   2.5
store 2  vinod      bird seed   5.0

In [32]:
df.T.loc['item purchased']

store 1        dog food
store 1    kitty litter
store 2       bird seed
Name: item purchased, dtype: object

In [33]:
df.loc['store 1']['cost']

store 1    22.5
store 1     2.5
Name: cost, dtype: float64

In [34]:
df.loc[:,['name','cost']]

          name  cost
store 1  chris  22.5
store 1  kevyn   2.5
store 2  vinod   5.0

In [35]:
copy_df=df.copy()
copy_df=copy_df.drop('store 1')
copy_df

          name item purchased  cost
store 2  vinod      bird seed   5.0

In [36]:
copy_df=df.copy()
copy_df.drop('store 1',inplace=True)
copy_df

          name item purchased  cost
store 2  vinod      bird seed   5.0

In [37]:
del copy_df['name']
copy_df

        item purchased  cost
store 2      bird seed   5.0

In [38]:
df['location']=None
df

          name item purchased  cost location
store 1  chris       dog food  22.5     None
store 1  kevyn   kitty litter   2.5     None
store 2  vinod      bird seed   5.0     None

In [39]:
df['state']=['ap','tg','delhi']

In [40]:
df

          name item purchased  cost location  state
store 1  chris       dog food  22.5     None     ap
store 1  kevyn   kitty litter   2.5     None     tg
store 2  vinod      bird seed   5.0     None  delhi

In [60]:
df.loc['store 2','state']='mumbai'
df
del df['state', 'store 2']

In [61]:
df

          name item purchased  cost location   state
store 1  chris       dog food  22.5     None      ap
store 1  kevyn   kitty litter   2.5     None      tg
store 2  vinod      bird seed   5.0     None  mumbai

In [62]:
df

          name item purchased  cost location   state
store 1  chris       dog food  22.5     None      ap
store 1  kevyn   kitty litter   2.5     None      tg
store 2  vinod      bird seed   5.0     None  mumbai

In [63]:
costs=df['cost']

In [64]:
costs

store 1    22.5
store 1     2.5
store 2     5.0
Name: cost, dtype: float64

In [65]:
costs+=2
costs

store 1    24.5
store 1     4.5
store 2     7.0
Name: cost, dtype: float64

In [66]:
df

          name item purchased  cost location   state
store 1  chris       dog food  24.5     None      ap
store 1  kevyn   kitty litter   4.5     None      tg
store 2  vinod      bird seed   7.0     None  mumbai

In [68]:
df=pd.read_csv('olympics.csv')
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
20,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
21,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
22,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
24,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
25,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
26,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
27,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
28,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
29,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
119,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
120,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
121,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
123,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
124,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
125,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
126,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
127,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
128,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
129,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
130,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
131,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
132,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
134,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
136,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
137,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
138,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
139,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
140,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [102]:
df

,index,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total,country
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,Australia (AUS) [AUS] [Z]
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,Austria (AUT)
7,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,Azerbaijan (AZE)
8,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,Bahamas (BAH)
9,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,Bahrain (BRN)
10,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1,Barbados (BAR) [BAR]
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,Belarus (BLR)
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,Belgium (BEL)
13,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1,Bermuda (BER)
14,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4,Bohemia (BOH) [BOH] [Z]
15,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1,Botswana (BOT)
16,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,Brazil (BRA)
17,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2,British West Indies (BWI) [BWI]
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,Bulgaria (BUL) [H]
19,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,Burundi (BDI)
20,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,Cameroon (CMR)
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,Canada (CAN)
22,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,Chile (CHI) [I]
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,China (CHN) [CHN]
24,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,Colombia (COL)
25,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,Costa Rica (CRC)
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1,Ivory Coast (CIV) [CIV]
27,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,Croatia (CRO)
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,Cuba (CUB) [Z]
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1,Cyprus (CYP)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,Sri Lanka (SRI) [SRI]
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1,Sudan (SUD)
119,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,Suriname (SUR) [E]
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,Sweden (SWE) [Z]
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,Switzerland (SUI)
122,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,Syria (SYR)
123,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,Chinese Taipei (TPE) [TPE] [TPE2]
124,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3,Tajikistan (TJK)
125,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2,Tanzania (TAN) [TAN]
126,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,Thailand (THA)
127,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1,Togo (TOG)
128,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1,Tonga (TGA)
129,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,Trinidad and Tobago (TRI) [TRI]
130,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,Tunisia (TUN)
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,Turkey (TUR)
132,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,Uganda (UGA)
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,Ukraine (UKR)
134,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,United Arab Emirates (UAE)
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,United States (USA) [P] [Q] [R] [Z]
136,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,Uruguay (URU)
137,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,Uzbekistan (UZB)
138,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,Venezuela (VEN)
139,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2,Vietnam (VIE)
140,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1,Virgin Islands (ISV)
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,Yugoslavia (YUG) [YUG]
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,Independent Olympic Participants (IOP) [IOP]
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,Zambia (ZAM) [ZAM]
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,Zimbabwe (ZIM) [ZIM]
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,Mixed team (ZZX) [ZZX]
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579,Totals

In [70]:
df=pd.read_csv('olympics.csv',index_col=0,skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [71]:
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [77]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'gold' +col[4:]},inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'silver' +col[4:]},inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' +col[4:]},inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' +col[1:]},inplace=True)
df.head()

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

### 1)how many countries won atleast 1 gold medal in summer

In [78]:
len(df['gold']>=1)

147

In [82]:
only_gold=df.where(df['gold']>0)
only_gold.head()

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [83]:
only_gold['gold'].count()

100

In [86]:
only_gold=only_gold.dropna()
only_gold.head()

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [87]:
only_gold=df[df['gold']>0]
only_gold.head()

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

### 2) how many countries won atleast 1 gold medal in gild.2

In [79]:
len(df['gold.2']>=1)

147

In [84]:
only_gold1=df.where(df['gold.2']>0)
only_gold1.head()

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total
Afghanistan (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [85]:
only_gold1['gold.2'].count()

101

### find the count of countries who got atleast 1siliver medals in summer or winter

In [93]:
df[df['silver.2']>=1]['silver.2'].count()

126

In [94]:
len(df[(df['gold']>0)| (df['gold.1']>0)])

101

### find countries which got gold medal in winter but not in summer

In [95]:
df[(df['gold.1']>0)&(df['gold']==0)]

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [96]:
df['country']=df.index
df.set_index('gold').head()

,# Summer,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total,country
gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [97]:
df.head()

,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total,country
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [98]:
df=df.reset_index()
df.head()

,index,# Summer,gold,silver,Bronze,Total,# Winter,gold.1,silver.1,Bronze.1,Total.1,# Games,gold.2,silver.2,Bronze.2,Combined total,country
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [3]:
import pandas as pd

In [7]:
census_df=pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [104]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [105]:
df=df[df['SUMLEV']==50]

In [106]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [108]:
df[['SUMLEV','STATE','COUNTY']]

      SUMLEV  STATE  COUNTY
1         50      1       1
2         50      1       3
3         50      1       5
4         50      1       7
5         50      1       9
6         50      1      11
7         50      1      13
8         50      1      15
9         50      1      17
10        50      1      19
11        50      1      21
12        50      1      23
13        50      1      25
14        50      1      27
15        50      1      29
16        50      1      31
17        50      1      33
18        50      1      35
19        50      1      37
20        50      1      39
21        50      1      41
22        50      1      43
23        50      1      45
24        50      1      47
25        50      1      49
26        50      1      51
27        50      1      53
28        50      1      55
29        50      1      57
30        50      1      59
...      ...    ...     ...
3162      50     55     129
3163      50     55     131
3164      50     55     133
3165      50     55     135
3166      50     55     137
3167      50     55     139
3168      50     55     141
3170      50     56       1
3171      50     56       3
3172      50     56       5
3173      50     56       7
3174      50     56       9
3175      50     56      11
3176      50     56      13
3177      50     56      15
3178      50     56      17
3179      50     56      19
3180      50     56      21
3181      50     56      23
3182      50     56      25
3183      50     56      27
3184      50     56      29
3185      50     56      31
3186      50     56      33
3187      50     56      35
3188      50     56      37
3189      50     56      39
3190      50     56      41
3191      50     56      43
3192      50     56      45

[3142 rows x 3 columns]

In [109]:
df=df.set_index(['STNAME','CTYNAME'])

df.head()

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3
        Barbour County      50       3         6      1       5
        Bibb County         50       3         6      1       7
        Blount County       50       3         6      1       9

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193
        Barbour County          27457              27457            27341
        Bibb County             22915              22919            22861
        Blount County           57322              57322            57373

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...
        Barbour County            27226            27159  ...
        Bibb County               22733            22642  ...
        Blount County             57711            57776  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705
        Barbour County         -4.728132         -2.500690         -7.056824
        Bibb County            -5.527043         -5.068871         -6.201001
        Blount County           1.807375         -1.177622         -1.748766

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176
        Barbour County         -3.904217        -10.543299    -4.874741
        Bibb County            -0.177537          0.177258    -5.088389
        Blount County          -2.062535         -1.369970     1.859511

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499
        Barbour County    -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County       -4.363636    -5.403729     0.754533     1.107861
        Blount County     -0.848580    -1.402476    -1.577232    -0.884411

[5 rows x 98 columns]

In [114]:
 df.loc['Alabama','Autauga County']

SUMLEV                      50.000000
REGION                       3.000000
DIVISION                     6.000000
STATE                        1.000000
COUNTY                       1.000000
CENSUS2010POP            54571.000000
ESTIMATESBASE2010        54571.000000
POPESTIMATE2010          54660.000000
POPESTIMATE2011          55253.000000
POPESTIMATE2012          55175.000000
POPESTIMATE2013          55038.000000
POPESTIMATE2014          55290.000000
POPESTIMATE2015          55347.000000
NPOPCHG_2010                89.000000
NPOPCHG_2011               593.000000
NPOPCHG_2012               -78.000000
NPOPCHG_2013              -137.000000
NPOPCHG_2014               252.000000
NPOPCHG_2015                57.000000
BIRTHS2010                 151.000000
BIRTHS2011                 636.000000
BIRTHS2012                 615.000000
BIRTHS2013                 574.000000
BIRTHS2014                 623.000000
BIRTHS2015                 600.000000
DEATHS2010                 152.000000
DEATHS2011                 507.000000
DEATHS2012                 558.000000
DEATHS2013                 583.000000
DEATHS2014                 504.000000
                             ...
RBIRTH2011                  11.572789
RBIRTH2012                  11.138479
RBIRTH2013                  10.416194
RBIRTH2014                  11.293597
RBIRTH2015                  10.846281
RDEATH2011                   9.225478
RDEATH2012                  10.106133
RDEATH2013                  10.579514
RDEATH2014                   9.136393
RDEATH2015                   8.442022
RNATURALINC2011              2.347311
RNATURALINC2012              1.032347
RNATURALINC2013             -0.163320
RNATURALINC2014              2.157204
RNATURALINC2015              2.404259
RINTERNATIONALMIG2011        0.363924
RINTERNATIONALMIG2012        0.289782
RINTERNATIONALMIG2013        0.290347
RINTERNATIONALMIG2014        0.326300
RINTERNATIONALMIG2015        0.343466
RDOMESTICMIG2011             7.242091
RDOMESTICMIG2012            -2.915927
RDOMESTICMIG2013            -3.012349
RDOMESTICMIG2014             2.265971
RDOMESTICMIG2015            -2.530799
RNETMIG2011                  7.606016
RNETMIG2012                 -2.626146
RNETMIG2013                 -2.722002
RNETMIG2014                  2.592270
RNETMIG2015                 -2.187333
Name: (Alabama, Autauga County), Length: 98, dtype: float64

In [120]:
df.loc[[('Michigan','Washtenaw County'),
      ('Michigan','Wayne County')]]

                           SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME   CTYNAME
Michigan Washtenaw County      50       2         3     26     161
         Wayne County          50       2         3     26     163

                           CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County         344791             345066           345563
         Wayne County            1820584            1820641          1815199

                           POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME   CTYNAME                                             ...
Michigan Washtenaw County           349048           351213  ...
         Wayne County              1801273          1792514  ...

                           RDOMESTICMIG2011  RDOMESTICMIG2012  \
STNAME   CTYNAME
Michigan Washtenaw County          0.129569         -4.309822
         Wayne County            -13.340073        -10.271616

                           RDOMESTICMIG2013  RDOMESTICMIG2014  \
STNAME   CTYNAME
Michigan Washtenaw County         -1.780293         -2.955078
         Wayne County            -14.119617        -11.903253

                           RDOMESTICMIG2015  RNETMIG2011  RNETMIG2012  \
STNAME   CTYNAME
Michigan Washtenaw County         -6.078985     5.191395     1.248106
         Wayne County             -8.762835   -11.344758    -8.098421

                           RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME   CTYNAME
Michigan Washtenaw County     4.226778     3.801394     0.595048
         Wayne County       -11.732437    -9.161648    -6.010195

[2 rows x 98 columns]

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [3]:
df.fillna?

In [4]:
df=df.sort_index()
df.head()

         time    user       video  playback position paused  volume
0  1469974424  cheryl  intro.html                  5  False    10.0
1  1469974454  cheryl  intro.html                  6    NaN     NaN
2  1469974544  cheryl  intro.html                  9    NaN     NaN
3  1469974574  cheryl  intro.html                 10    NaN     NaN
4  1469977514     bob  intro.html                  1    NaN     NaN

In [5]:
df=df.set_index('time')
df.head()

              user       video  playback position paused  volume
time
1469974424  cheryl  intro.html                  5  False    10.0
1469974454  cheryl  intro.html                  6    NaN     NaN
1469974544  cheryl  intro.html                  9    NaN     NaN
1469974574  cheryl  intro.html                 10    NaN     NaN
1469977514     bob  intro.html                  1    NaN     NaN

In [6]:
df=df.reset_index()
df=df.set_index(['time','user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
1469974454 sue     advanced.html                 24    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974424 sue     advanced.html                 23  False    10.0
1469974554 sue     advanced.html                 26    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974724 sue     advanced.html                 29    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974664 cheryl     intro.html                 13    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [7]:
df.head()

                        video  playback position paused  volume
time       user
1469974424 cheryl  intro.html                  5  False    10.0
1469974454 cheryl  intro.html                  6    NaN     NaN
1469974544 cheryl  intro.html                  9    NaN     NaN
1469974574 cheryl  intro.html                 10    NaN     NaN
1469977514 bob     intro.html                  1    NaN     NaN

In [8]:
df.fillna('hi')

                           video  playback position paused volume
time       user
1469974424 cheryl     intro.html                  5  False     10
1469974454 cheryl     intro.html                  6     hi     hi
1469974544 cheryl     intro.html                  9     hi     hi
1469974574 cheryl     intro.html                 10     hi     hi
1469977514 bob        intro.html                  1     hi     hi
1469977544 bob        intro.html                  1     hi     hi
1469977574 bob        intro.html                  1     hi     hi
1469977604 bob        intro.html                  1     hi     hi
1469974604 cheryl     intro.html                 11     hi     hi
1469974694 cheryl     intro.html                 14     hi     hi
1469974724 cheryl     intro.html                 15     hi     hi
1469974454 sue     advanced.html                 24     hi     hi
1469974524 sue     advanced.html                 25     hi     hi
1469974424 sue     advanced.html                 23  False     10
1469974554 sue     advanced.html                 26     hi     hi
1469974624 sue     advanced.html                 27     hi     hi
1469974654 sue     advanced.html                 28     hi      5
1469974724 sue     advanced.html                 29     hi     hi
1469974484 cheryl     intro.html                  7     hi     hi
1469974514 cheryl     intro.html                  8     hi     hi
1469974754 sue     advanced.html                 30     hi     hi
1469974824 sue     advanced.html                 31     hi     hi
1469974854 sue     advanced.html                 32     hi     hi
1469974924 sue     advanced.html                 33     hi     hi
1469977424 bob        intro.html                  1   True     10
1469977454 bob        intro.html                  1     hi     hi
1469977484 bob        intro.html                  1     hi     hi
1469977634 bob        intro.html                  1     hi     hi
1469977664 bob        intro.html                  1     hi     hi
1469974634 cheryl     intro.html                 12     hi     hi
1469974664 cheryl     intro.html                 13     hi     hi
1469977694 bob        intro.html                  1     hi     hi
1469977724 bob        intro.html                  1     hi     hi

In [9]:
df.head()

                        video  playback position paused  volume
time       user
1469974424 cheryl  intro.html                  5  False    10.0
1469974454 cheryl  intro.html                  6    NaN     NaN
1469974544 cheryl  intro.html                  9    NaN     NaN
1469974574 cheryl  intro.html                 10    NaN     NaN
1469977514 bob     intro.html                  1    NaN     NaN

In [10]:
df.fillna(method='ffill').head()

                        video  playback position  paused  volume
time       user
1469974424 cheryl  intro.html                  5   False    10.0
1469974454 cheryl  intro.html                  6   False    10.0
1469974544 cheryl  intro.html                  9   False    10.0
1469974574 cheryl  intro.html                 10   False    10.0
1469977514 bob     intro.html                  1   False    10.0

In [12]:
df.fillna(method='bfill').tail()

                        video  playback position paused  volume
time       user
1469977664 bob     intro.html                  1    NaN     NaN
1469974634 cheryl  intro.html                 12    NaN     NaN
1469974664 cheryl  intro.html                 13    NaN     NaN
1469977694 bob     intro.html                  1    NaN     NaN
1469977724 bob     intro.html                  1    NaN     NaN

In [8]:
def an_five():
    return census_df[census_df['SUMLEV']==50]['STNAME'].value_counts().argmax()
an_five()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Texas'

In [13]:
mask=census_df['SUMLEV']==50
census_df[mask][['STNAME','CTYNAME','CENSUS2010POP']].sort_values('CENSUS2010POP',ascending=False).head()

          STNAME             CTYNAME  CENSUS2010POP
209   California  Los Angeles County        9818605
624     Illinois         Cook County        5194675
2667       Texas       Harris County        4092459
106      Arizona     Maricopa County        3817117
227   California    San Diego County        3095313

In [22]:
def a6():
    
    mylist=[]
    states=list(census_df['STNAME'].unique())
    mask=census_df['SUMLEV']==50
    filter_df=census_df[mask][['STNAME','CTYNAME','CENSUS2010POP']]
    for state in states:
        mask=filter_df['STNAME']==state
        frame=filter_df[mask]
        top3=frame.sort_values('CENSUS2010POP',ascending = False)[:3]
        mylist.append([sum(top3['CENSUS2010POP']),state])
    mylist.sort(reverse=True)
    result=[item[1] for item in mylist[:3]]
    return result
a6()

['California', 'Texas', 'Illinois']

    #### 
    def answer_six():
        df=census_df[census_df['SUMLEY']==50.copy()
        top3_df=pd.DataFrame(columns=['CENSUS'])
        for group,frame in df.groupby(['STNAME']:
            total=frame.sort_values('CENSUS2010POP',ascending=False][:3]['CENSUS2010POP'].sum()
            top3_df.loc[group]=total
        return list(top3_df.sort_values('CENSUS',ascending=False)[:3].index)
    answer_six()

In [36]:
def seven():
    mask=census_df['SUMLEV']==50
    df=census_df[mask].copy()
    df=df.set_index(['STNAME','CTYNAME'])
    df=df[['POPESTIMATE2010','POPESTIMATE2010',
          'POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013',
          'POPESTIMATE2014','POPESTIMATE2015']]
    df['max_pop']=df.max(axis=1)
    df['min_pop']=df.min(axis=1)
    df['diff_pop']=abs(df['max_pop']-df['min_pop'])
    return df['diff_pop'].argmax()[1]
seven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  # This is added back by InteractiveShellApp.init_path()

'Harris County'

In [44]:
def eight():
    mask=((census_df['REGION']==1) | (census_df['REGION']==2))
    df=census_df[mask].copy()
    mask2=df['POPESTIMATE2015']>df['POPESTIMATE2014']
    return df[df['CTYNAME'].str.startswith('washington')][mask2][['STNAME','CTYNAME']].sort_index()
eight()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

Empty DataFrame
Columns: [STNAME, CTYNAME]
Index: []