**Number conditions**

In [1]:
a=int(input())
b=int(input())
c=int(input())
if a==b==c:
    print(a)
elif a!=b!=c!=a:
    print(a+b+c)
elif a==b!=c:
    print(c)
elif a!=b==c:
    print(a)
elif b!=a==c:
    print(b)

10
10
10
10

**LEAP YEAR**

In [13]:
year=int(input())
if(year%400==0 or (year%4==0 and year%100!=0)):
    print(year,"is leap year")
else:
    print(year,"is not leap year")

2015
2015 is not leap year

**For loop example**

In [12]:
for i in 1,2,3:
    print(i,end=" ")

1 2 3

**for example**

In [11]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

**For example range**

In [10]:
for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [14]:
for i in range(1,6,2):
    print(i,end=" ")

1 3 5

In [17]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [23]:
for i in "123":
    print(i,end=" ")

1 2 3

In [21]:
 for i in 123:
        print(i)

TypeError: 'int' object is not iterable

In [2]:
a="pooja"
for i in range(len(a)):
    print(a[i],end="")

pooja

In [37]:
a="pooja"
for i in range(len(a)-1,-1,-1):
    print(a[i])

a
j
o
o
p

In [39]:
chr(65)

'A'

In [48]:
for i in range(65,65+26):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [49]:
for i in range(65,65+26):
    if chr(i)=='S':
        continue
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R T U V W X Y Z

In [50]:
for i in range(65,65+26):
    if chr(i)=='S':
        break
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R

In [54]:
i=1
while(i<=10):
    print(i,end=" ")
    i+=1
i

1 2 3 4 5 6 7 8 9 10

11

**Multiplication**

In [3]:
i=1
while(i<=10):
    print("2 *",i," = ",(2*i))
    i+=1

2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
2 * 10  =  20

**Factorial**

In [4]:
a=int(input())
mul=1
for i in range(1,(a+1)):
    mul=i*mul
print(mul)

5
120

**Positive & negative number**

In [4]:
num=int(input())
if(num<0):
    print("Negative number")
elif(num==0):
    print("Zero")
else:
    print("Positive number")

10
Positive number

**String Length**

In [3]:
s=input()
print(len(s))

venkatnaveen72
14

**student grades**

In [9]:
num=int(input())
if(num>74 and num<100):
    print("Destintion")
elif(num>49 and num<75):
    print("First class")
elif(num>34 and num<50):
    print("Second class")
else:
    print("Fail")

56
First class

**Given number in range or not**

In [10]:
l=int(input())
h=int(input())
n=int(input())
if(n in range(l,h+1)):
    print("Yes in range")
else:
    print("No not in range")

10
20
56
No not in range

**Greatest of four number**

In [11]:
a,b,c,d=200,536,145,211
if(a>b and a>c and a>d):
    print(a,"is big")
elif(b>a and b>c and b>d):
    print(b,"is big")
elif(c>a and c>b and c>d):
    print(c,"is big")
else:
    print(d,"is big")

536 is big

**Digits in a given number**

In [12]:
num=input()
print(len(num))

123456879
9

**Given number is factor of 1000 or not**

In [13]:
n=int(input())
if 1000%n ==0:
    print(n,"is factor")
else:
    print(n,"is not factor")

500
500 is factor