**List**
# List is collection of items

In [7]:
a=list() # deceleration of list
type(a)

list

In [8]:
a=[]  # deceleration of list
type(a)

list

In [9]:
len(a)

0

**len- is difined for count the no of elements in a list**

In [11]:
a=[10,20,40,60]  # list is mutable
len(a)

4

** methos in a list**

In [18]:
# append(item) - added items to the list at the last of the list
a.append(5)

In [19]:
a

[10, 20, 40, 60, 100, 100, 5, 5]

In [20]:
b=['Naveen','lakshmi']

In [21]:
a.append(b)
# ADDING A SUB LIST WILL ADD SUB LIST A THE END OF THE LIST AND CONSIDER AS A SINGLE UNIT

In [22]:
a

[10, 20, 40, 60, 100, 100, 5, 5, ['Naveen', 'lakshmi']]

In [23]:
len(a)

9

In [25]:
# FORWARD INDEXING
a[3]  # retuens the 4th element

60

In [26]:
a[8]

['Naveen', 'lakshmi']

In [27]:
a[-2] # returns from last elements of the list

5

In [28]:
# updating the value
a[0]=200

In [29]:
a

[200, 20, 40, 60, 100, 100, 5, 5, ['Naveen', 'lakshmi']]

In [31]:
a[8][1]='ram'

In [32]:
a

[200, 20, 40, 60, 100, 100, 5, 5, ['Naveen', 'ram']]

In [33]:
a[8].append('rampraveen')

In [34]:
a

[200, 20, 40, 60, 100, 100, 5, 5, ['Naveen', 'ram', 'rampraveen']]

#extend(collection_items)
  to added collection of items into a list

In [35]:
a=[10,20,30]
b=[40,50]
a.extend(b)

In [36]:
a

[10, 20, 30, 40, 50]

In [37]:
# task
students=[['sao',10,20,30],['lakshmi',30,40,60],['raj',30,40,60]]

In [38]:
# for loop in list
for each_item in a:
    print(each_item)

10
20
30
40
50

In [69]:
# count(items)-- retuns the no repeated item
a=[10,30,20,30]
a.count(30)

2

In [70]:
a.count(15)

0

In [71]:
[30,[30,40],30].count(40)

0

In [72]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# clear() - empty the list

In [75]:
a=[10,20,30] 
a.clear() # clear remove all the elements from the list

In [76]:
a

[]

a.clear()

# copy() - copt the list

In [77]:
a=[10,30]
b=a.copy()
b

[10, 30]

In [78]:
a.append(30)
a,b

([10, 30, 30], [10, 30])

# index(item) - returns the positionof the item

In [79]:
a=[10,30,40,30]
a.index(10)

0

In [83]:
a.index(30)  # returns the first occurance of the list

1

In [84]:
a.index(100)

ValueError: 100 is not in list

# insert(index,item)- insert element in the specifies position

In [85]:
a=[10,30,40]
a.insert(1,100)
a

[10, 100, 30, 40]

In [87]:
a.insert(10,1000)  # if the index is not present in the list it add at the last of the list
a

[10, 100, 30, 40, 1000, 1000]

# pop() - remove an element and display the removed element

In [88]:
a.pop(0)

10

In [89]:
a.pop(100)  # if the index is not there it display a error message

IndexError: pop index out of range

In [90]:
a.pop() ## removes the last item in the list

1000

In [91]:
[].pop() ## empty list displays an error

IndexError: pop from empty list

# remove(item) - remove an element in the list using value

In [92]:
a=[10,20,30]
a.remove(10)

In [93]:
a

[20, 30]

In [94]:
a.remove(100)  # if the item is not present it displays a error

ValueError: list.remove(x): x not in list

In [95]:
[].remove(10) #displays a error in the empty list

ValueError: list.remove(x): x not in list

# reverse() - reverse the given list

In [97]:
a=[10,20,30]
a.reverse()
a

[30, 20, 10]

# sort()  -  sort the given list in acendingorder

In [98]:
a=[10,50,60,20,30]
a.sort(reverse =True) # print the list in decending order
a

[60, 50, 30, 20, 10]

In [99]:
len(a)

5

In [100]:
min(a)  # returns the minimum value in the list

10

In [101]:
max(a)  # returns the maximum value in the list

60

 # slicing

In [102]:
a=[10,30,40,50,60]

In [103]:
a[0:4]

[10, 30, 40, 50]

In [104]:
a[2:5]

[40, 50, 60]

In [105]:
a[0:]

[10, 30, 40, 50, 60]

In [111]:
a[:]

[10, 30, 40, 50, 60]

In [112]:
a

[10, 30, 40, 50, 60]

In [113]:
a[0::2]

[10, 40, 60]

In [115]:
a[::-1]  # printing the elements in the reverse  list

[60, 50, 40, 30, 10]

In [123]:
students=[[1,30,40],[3,30,30],[2,50,10]]

In [161]:
for st in students:
    st.sort()
    print(st)

[1, 30, 40]
[2, 10, 50]
[3, 30, 30]

# tuples - is a collection items and it is immutable

In [163]:
# representation of tuple 
a=tuple()
a=()

# methos in tuple

In [178]:
a=(10,20,30)
a

(10, 20, 30)

In [182]:
sum(a)

TypeError: 'int' object is not callable

In [183]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [184]:
# count(item)- no of times the item is represented
a.count(10)

1

In [185]:
a.count(100)

0

In [186]:
#index()- returns the index of the position
a.index(10)

0

In [187]:
a.index(30)

2

In [188]:
min(a)

10

In [189]:
max(a)

30

In [190]:
sum(a)

TypeError: 'int' object is not callable

In [193]:
a=(1,2,3,4,5,6)
a[3:0:-1]

(4, 3, 2)

In [194]:
sum(a)

TypeError: 'int' object is not callable

In [195]:
a='string'

In [196]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# startswith(sub_string) - check the original string is starting with sub_string or not

In [200]:
name='python program'
name.startswith('python')

True

# endswith(sub_string)- checks the original string end with sub_string or not

In [201]:
name.endswith('program')

True

# isupper()- check the string is upper case or not
# islower()- check the string is lower case or not

In [202]:
name.islower()

True

In [203]:
name.isupper()

False

# upper()- returns upper case string and does't change the original string

In [206]:
name.upper(),name

('PYTHON PROGRAM', 'python program')

In [205]:
name

'python program'

# isdigit()- returns true if the string is a digit

In [207]:
rno='123'
rno.isdigit()

True

In [209]:
'12a'.isdigit()

False

# split() - split the sentences into words uising space

In [211]:
name= 'python program'
name.split()

['python', 'program']

In [212]:
name.split('a')

['python progr', 'm']

# join(collections of items)

In [215]:
char=['p','y','t']
''.join(char)

'pyt'

# strip()- remove the unwanted spaces

In [216]:
name ='      sai ram   '
name.strip(),len(name),len(name.strip())

('sai ram', 16, 7)

In [217]:
#lstrip() - remove left side spaces 
name.lstrip()

'sai ram   '

In [218]:
#rstrip() - remove right side spaces
name.rstrip()

'      sai ram'


# isalpha()- check alphabet or not

In [221]:
s='sai Ram'
s.isalpha()

False

In [222]:
# swapcase()- swap the case to vice versa
s.swapcase()

'SAI rAM'

# capitalize() - make starting letter captial

In [223]:
s.capitalize()

'Sai ram'

# title() - make every word starting captial

In [224]:
s.title()

'Sai Ram'

In [225]:
data = "sairam 123 lakshmi"

# Dictionary -is a collection of items with a key-value pair

In [227]:
eng=dict()
eng={}
type(eng)

dict

In [228]:
eng={'name':'naveen','mobile':'9603852332'}

In [229]:
for key in eng:
    print(key)

name
mobile

In [230]:
eng['name']

'naveen'

In [233]:
eng['mobile']='8639230583'

In [234]:
eng

{'name': 'naveen', 'mobile': '8639230583', 'moble': '8639230583'}

In [235]:
dir(eng)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [237]:
eng.pop("mobile")

'8639230583'

In [238]:
eng

{'name': 'naveen', 'moble': '8639230583'}

In [239]:
eng['gender']='male'

In [240]:
eng

{'name': 'naveen', 'moble': '8639230583', 'gender': 'male'}

In [241]:
for key in eng:
    print(eng[key])

naveen
8639230583
male

In [242]:
eng[key]

'male'

In [243]:
# methods in dictionary

In [244]:
# fromkeys()
keys=['name','gender','mobile']
{}.fromkeys(keys)

{'name': None, 'gender': None, 'mobile': None}

In [247]:
# get()
person={'name':'naveen','gender':'male','isstudent':True}
person['name']

'naveen'

In [249]:
print(person.get('name1','key not available'))

key not available

In [252]:
person.setdefault('name')

'naveen'

In [253]:
person.setdefault('adhar','set default')

'set default'

In [254]:
person

{'name': 'naveen', 'gender': 'male', 'isstudent': True, 'adhar': 'set default'}

In [255]:
## items()
person.items()

dict_items([('name', 'naveen'), ('gender', 'male'), ('isstudent', True), ('adhar', 'set default')])

In [257]:
person.keys() # returns only keys

dict_keys(['name', 'gender', 'isstudent', 'adhar'])

# pop()
remove the ithem to the key

In [259]:
person.pop('name')

'naveen'

In [261]:
#popitem() remove and returns the item
person.popitem()

('adhar', 'set default')

In [262]:
person

{'gender': 'male', 'isstudent': True}

# update(dict)

In [263]:
change = {'name':'sai','grade':'A'}
person.update(change)

In [264]:
person

{'gender': 'male', 'isstudent': True, 'name': 'sai', 'grade': 'A'}

In [265]:
person.values()

dict_values(['male', True, 'sai', 'A'])

In [267]:
a={2,3,4,5,6,7}

In [268]:
type(a)

set

In [269]:
a.add(10)

In [270]:
a

{2, 3, 4, 5, 6, 7, 10}

In [271]:
a.pop()

2

In [272]:
b={5,6,1,8,9,10,11}

In [285]:
a.union(b)

{1, 5, 6, 8, 9, 10, 11}

In [286]:

a.difference(b)

set()

In [287]:
a.intersection(b)

set()

In [288]:
a.clear()

In [289]:
a.clear()

In [290]:
a

set()

In [291]:
b.remove(1)

In [292]:
b

{5, 6, 8, 9, 10, 11}

In [293]:
dir(b)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [294]:
a.update(b)

In [295]:
a

{5, 6, 8, 9, 10, 11}

In [296]:
a.issubset(b)

True